@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");
:root {
  --color: #ff6734;
  --white: #fff;
  --black: #1c2b2d;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
  --twitter: hsl(207, 93%, 46%);
  --fb: hsl(221, 89%, 41%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  box-shadow: none!important;
}
html {
  font-size: 10px;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}
a.navbar-brand {
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.navbar-toggler {
  box-shadow: none !important;
}
.fa-bars {
  font-size: 2rem;
}
button.navbar-toggler {
  border: none;
}
i.fa.fa-bars {
  color: black;
  font-size: 2rem;
}

img.rounded-circle {
  margin-top: 2rem;
  width: 450px;
  height: 450px;
  border: 1px solid blue;
}
h1.hello-h1 {
  font-size: 4rem;
   margin-top: 2rem;
}
p.hello-p {
  font-size: 2rem;
  margin-top: 0.7rem;
}
.footer{
  /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(155, 153, 153);
   color: white;
   text-align: center;
}
a.link {
    text-decoration: none;
    color: white;
}
h3{
  font-size: 2rem;
  color: black;
}
.fot{
  font-size: 1.2rem;
}
i.fa-brands.fa-snapchat {
    font-size: 2rem;
    color: yellow;
}
i.fa-brands.fa-instagram {
    font-size: 2rem;
    color: rgb(138, 29, 138);
}
i.fa-brands.fa-twitter {
    font-size: 2rem;
    color: rgb(150, 221, 245);
}



/* MEDIA QUERIES SECTION */

@media screen and (max-width: 768px) {
  a.nav-link.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img.rounded-circle {
    
    margin-left:9rem;
    margin-right:8rem;
    width: 300px;
    height: 300px;
    border: 1px solid blue;
  }
  p.text {
    font-size: 1.3rem;
    min-width: 200px;
  }
  h1.hello-h1 {
    font-size: 3rem;
  }
  p.hello-p {
    font-size: 2rem;
    margin-top: 0.5rem;
  }
}
